//Feedback colors - success
$feedback-color-success-pure: #1d8527;
$feedback-color-success-light: #dafdde;
$feedback-color-success-medium: #1c5922;
$feedback-color-success-dark: #003705;

//Feedback colors - error
$feedback-color-warning-pure: #b00020;
$feedback-color-warning-light: #e5c5cb;
$feedback-color-warning-medium: #760116;
$feedback-color-warning-dark: #35000a;

//Primary colors
$color-primary: #15c64f;

$header-height: 60px;
